<div class="container">
    <div class="row">
        <div class="Get-in-button">
            <button mat-stroked-button color="primary" (click)="onGetIn()">Get In <mat-icon
                    matSuffix>skip_next</mat-icon></button>
        </div>
    </div>
</div>
<div class="alignment-provider">
    <div class="box-model">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Enter the token</mat-label>
                <input #inputToken matInput>
                <mat-icon *ngIf="inputToken.value" matSuffix>key</mat-icon>
                <mat-icon *ngIf="!inputToken.value" matSuffix>key_off</mat-icon>
                <mat-hint>GIT hub token</mat-hint>
            </mat-form-field><br><br>
        </p>
        <button mat-raised-button color="primary" (click)="onLogin(inputToken.value)"
            [disabled]="!inputToken.value">Login <mat-icon>
                login</mat-icon></button>
    </div>
</div>