<mat-spinner class="spinner1" *ngIf="usersLoading;else elseBlock"></mat-spinner>
<ng-template #elseBlock>
    <mat-card *ngIf="clickedUser">
        <div class="a-box">
            <div class="img-container">
                <div class="img-inner">
                    <div class="inner-skew">
                        <img [src]="clickedUser.avatar_url">
                    </div>
                </div>
            </div>
        </div>
        <button class="loadUsers" (click)="onReturnToUser()">back to users</button>
        <div class="text-container">
            <h3><mat-card-title>{{clickedUser.login}}</mat-card-title></h3>
            <div><mat-card-content>
                    <form>
                        <tr>
                            <td>No.of.Followers : </td>
                            <td>{{clickedUser.followers ?clickedUser.followers:0}}</td>
                        </tr>
                        <tr>
                            <td>No.of.Repos: </td>
                            <td>{{clickedUser.public_repos?clickedUser.public_repos:0}}</td>
                        </tr>
                        <tr>
                            <td>Location: </td>
                            <td>{{clickedUser.location?clickedUser.location:""}}</td>
                        </tr>
                    </form>
                </mat-card-content>
            </div>
        </div>
    </mat-card>
     <div class="repoContainer" *ngIf="dataSource">
         <table class="repoTable"[dataSource]="dataSource" mat-table matSort>
          
            <div matColumnDef="repoName">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Repo Name</th>
                <td *matCellDef="let value" mat-cell> {{value.repoName}} </td>
            </div>

            <div matColumnDef="repoDescription">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> Description</th>
                <td *matCellDef="let value" mat-cell> {{value.repoDescription}} </td>
            </div>

            <div matColumnDef="stars_count">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> StarsCount</th>
                <td *matCellDef="let value" mat-cell> {{value.stars_count}} </td>
            </div>

            <div matColumnDef="watchers_count">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> WatcherCount</th>
                <td *matCellDef="let value" mat-cell> {{value.watchers_count}} </td>
            </div>

            <div matColumnDef="created_date">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> CreatedDate</th>
                <td *matCellDef="let value" mat-cell> {{value.created_date | date: 'shortDate'}} </td>
            </div>

            <div matColumnDef="updated_date">
                <th *matHeaderCellDef mat-header-cell mat-sort-header> UpdatedDate</th>
                <td *matCellDef="let value" mat-cell> {{value.updated_date | date: 'shortDate'}} </td>
            </div>

            <tr *matHeaderRowDef="columnName" mat-header-row></tr>
            <tr *matRowDef="let row; columns: columnName;" mat-row></tr>
        </table>
        <mat-paginator [pageSize]="2" [pageSizeOptions]="[3,4,5]" aria-label="Select page"
            [disabled]="filteredUserRepo.length<1" aria-label="Select page"
            showFirstLastButtons></mat-paginator>
    </div>
</ng-template>