<div class="spinner" *ngIf="usersLoading;else elseBlock">
    <mat-spinner></mat-spinner>
</div>
<ng-template #elseBlock>
    <div >
        <mat-selection-list #userSelector [multiple]="false">
            <mat-list-option class="user-list" *ngFor="let user of loadedUsers" [value]="user.login">
                <p>{{user.login}}</p>
            </mat-list-option>
        </mat-selection-list>
    
        <p>
            Option selected: {{userSelector.selectedOptions.hasValue() ? userSelector.selectedOptions.selected[0].value :
            'None'}}
        </p>
    </div>
</ng-template>