.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40vh;
}

.container {
    display: flex;
}

.user-container {
    width: 60%;
    padding-top: 60px;
}

.view-user-container {
    display: flex;
    width: 30%;
    padding-left: 1px;
    height: 300px;
    position: relative;
}

.view-user-btn {
    margin: 0;
    position: absolute;
    top: 100%;
}

.view-user-container button {
    position: fixed;
    padding: 0px 10px
}

.user-avatar {
    height: 40px;
    width: 40px;
    border-radius: 65%;
}

.user-card {
    width: 70%;
    display: flex;
    align-items: center;
}

.child-node {
    padding-left: 50px;
}

.card-content {
    cursor: pointer;
    padding-left: 7px;
}

.mat-tree-node {
    margin-top: 3px;
}

.child-node .mat-tree-node {
    background-color: rgb(239, 239, 238);
    border-radius: 0.5rem;
    padding-left: 10px;
}

.node-spinner {
    margin-left: 10px;
}

.icons {
    overflow: hidden;
}