<div class="container">
    <div class="view-user-container">
        <div class="view-user-btn">
            <button mat-raised-button color="primary" [matTooltip]="(currentUser?'view user':'please login')"
                (click)="currentUser?LoadUserDetail(currentUser.login):null">view user</button>
        </div>
    </div>
    <div class="user-container">
        <div class="spinner" *ngIf="usersLoading;else elseBlock">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template #elseBlock>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
                    {{node.name}}&nbsp;({{node.stargazers_count}})
                </mat-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <div class="mat-tree-node">
                        <div class="icons">
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror" *ngIf="!isLoading(node);else spinnerBlock">
                                    {{node.expanded ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                                <ng-template #spinnerBlock><mat-spinner class="node-spinner" diameter="20"
                                        color="accent"></mat-spinner></ng-template>
                            </button>
                        </div>
                        <mat-card class="user-card">
                            <mat-card-header *ngIf="node.logo"><img class="user-avatar" mat-card-avatar
                                    [src]="node.logo"></mat-card-header>
                            <mat-card-content class="card-content" (click)="LoadUserDetail(node.name)">
                                {{node.name}}</mat-card-content>
                        </mat-card>
                    </div>
                    <div class="child-node" [class.example-tree-invisible]="!node.expanded">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
        </ng-template>
    </div>
</div>