<div class="box-model-container">
    <div class="box-model">
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Enter the token</mat-label>
                <input type="password" #inputToken matInput>
                <mat-icon *ngIf="inputToken.value;else elseBlock" matSuffix>key</mat-icon>
                <ng-template #elseBlock><mat-icon matSuffix>key_off</mat-icon></ng-template>
                <mat-hint>GIT hub token</mat-hint>
            </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="onLogin(inputToken.value)"
            [disabled]="!inputToken.value">Login <mat-icon>
                login</mat-icon></button>
    </div>
</div>