.box-model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.box-model {
    background-color: rgb(243, 243, 243);
    border: 2px solid rgb(6, 6, 6);
    padding: 25px;
    margin: 20px;
}