<mat-spinner class="spinner1" *ngIf="usersLoading;else elseBlock"></mat-spinner>
<ng-template #elseBlock>
    <mat-card class="card_of_users" *ngFor="let user of loadedUsers" (click)="onLoadUserDetail(user.login)">
        <mat-card-header>
            <h2 class="card-title">{{user.login}}</h2>
        </mat-card-header>
        <mat-card-content>
            <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
            <div class="cards">
                <div class="card">
                    <img [src]="user.avatar_url">
                    <div class="card-desc">
                        <p> Node Id :{{user.node_id}}</p>
                        <br><br><br>
                        <p>Type :{{user.type}}</p>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <div class="container">
        <div class="btn"><a  (click)="onLoadUserDetail(currentUser.login)" matTooltip="view User"
                *ngIf="currentUser">view user</a>
            <a  *ngIf="!currentUser" matTooltip="Please do Login">view user</a>
        </div>
    </div>
</ng-template>